.container{
    position: relative;
    margin-top: 100px;
    z-index: -4;
    
    
}

.container p {
    position: absolute;
    color:#ffff;
    top: 10%;
    left: 13%;
    font-size: 100px;
    font-weight: 700;

}
.container img {
    width: 100%;
    height: 600px;
    
}