.container{
    background-color: rgb(0, 102, 255);
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    margin-top: 30px;
    align-items: center;
}
.container p{
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;

}
.container input {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 20px 20px 40px;
    padding: 10px ;
    font-size: larger;
}

.container input::placeholder{
    font-size: large;
    padding-left:15px;
}